<div>
  <div class="submit-form">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="post.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <input
        class="form-control"
        id="content"
        required
        [(ngModel)]="post.content"
        name="content"
      />
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input
        class="form-control"
        id="type"
        required
        [(ngModel)]="post.type"
        name="type"
      />
    </div>
    <div class="form-group">
      <button (click)="updatePost()" class="btn btn-success">Submit</button>
    </div>

  </div>
</div>
